[run]
branch = True

source = app, app/tests, ./

omit =
    .venv/*
    app/_version.py
    app/db/init_db.py
    app/scripts/*
    app/tests/utils/*
    wsgi.py
    run_windows.py
    setup.py
    versioneer.py

[report]
exclude_lines =
    if __name__ == "__main__":
    noqa$
    pass$
    pragma: no cover
