[run]
branch = True

source = app, app/tests, ./

omit =
    app/_version.py
    .venv/*
    setup.py
    versioneer.py

[report]
exclude_lines =
    noqa$
    pragma: no cover
    if __name__ == "__main__":
    pass$
