a2wsgi==1.*
alembic==1.*
dialogflow==1.*
email-validator==1.*
fastapi==0.63.0
gunicorn==20.*
passlib[bcrypt]==1.*
pydantic==1.*
PyMySQL==1.*
python-dotenv==0.15.0
python-jose==3.*
python-multipart==0.0.5
SQLAlchemy==1.*
tenacity==6.*
typer==0.3.2
uvicorn[standard]==0.13.3
